[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"
[tool.hatch.build.hooks.vcs]
version-file = "src/janaf/_version.py"

[project]
name = "janaf"
description = "Python wrapper for NIST-JANAF Thermochemical Tables"
readme = "README.md"
requires-python = ">=3.8"
license = "MIT"
authors = [
  { name = "Takumasa Nakamura", email = "n.takumasa@gmail.com" },
]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Topic :: Scientific/Engineering :: Chemistry",
  "Topic :: Scientific/Engineering :: Physics",
]
dependencies = [
  "polars[pandas]>=1.0.0"
]
dynamic = ["version"]

[project.urls]
Repository = "https://github.com/n-takumasa/py-janaf"

[tool.hatch.build.targets.sdist]
exclude = [
  "/.github"
]

[[tool.hatch.envs.test.matrix]]
python = ["3.8", "3.9", "3.10", "3.11", "3.12"]

[tool.hatch.envs.dev]
extra-dependencies = [
  "ipython",
  "pytest",
  "aiofiles",
  "aiohttp",
]

[tool.hatch.envs.types]
extra-dependencies = [
  "mypy",
  "pytest",
]
[tool.hatch.envs.types.scripts]
check = "mypy --install-types --non-interactive {args:src/janaf tests}"

[tool.ruff]
target-version = "py38"
line-length = 88

[tool.ruff.lint.extend-per-file-ignores]
"**/example/**/*.py" = [
  "INP001",  # implicit-namespace-package
]
