name: test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  RUFF_OUTPUT_FORMAT: "github"

jobs:
  run:
    name: test with ${{ matrix.env }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env: ["3.13", "3.12", "3.11", "3.10", "3.9", "3.8"]
        include:
          - os: windows-latest
            env: "3.13"
          - os: macos-latest
            env: "3.13"

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6  # v6.6.1
        with:
          enable-cache: false
      - name: Install tox
        run: >-
          uv tool install
          --python-preference only-managed
          --python 3.13
          tox
          --with tox-uv
          --with tox-gh
      - name: Install Python
        if: matrix.env != '3.13'
        run: >-
          uv python install
          --python-preference only-managed
          ${{ matrix.env }}
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
      - name: Run test suite
        run: tox run --skip-pkg-install
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
